<!DOCTYPE html>
<html>
  <head>
    <title><%= 'title' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skills</h1>
    <ul>
      <% skill.forEach(function(t) { %>
        <li>
			<a href="/skills/<%=t.id%>"><%= t.skill %></a>
            - 
          <%= t.name %>
        </li>

		
      <% }); %>
    

  </ul>
  <a href="/skills/new">Add To-Do</a>

  </body>
</html>